# === C++ Build Artifacts ===
*.o
*.obj
*.slo
*.lo
*.d
*.sln
*.gch
*.pch
*.ilk
*.pdb
*.dwo
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.mod
*.smod

# CMake
Build/
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
*.spec
.pytest_cache/

# === IDE ===
.vs/
.vscode/
*.suo
*.user

# === OS ===
Thumbs.db
.DS_Store
